[submodule "config/awesome/rc.d/bioe007"]
	path = config/awesome/rc.d/bioe007
	url = git://github.com/bioe007/awesome-configs.git
[submodule "config/awesome/latest"]
	path = config/awesome/latest
	url = git://git.mercenariesguild.net/awesome.git
