Dotfiles/ssh/known_hosts
Dotfiles/ssh/.identity*
Dotfiles/ssh/*_rsa*
Dotfiles/ssh/sockets/*

Dotfiles/vim/undo
Dotfiles/vim/.netrwhist
Dotfiles/vim/spell/

Dotfiles/irssi/logs-*.tar.gz
Dotfiles/jupyter/nbconfig/

# See also: Dotfiles/config/.gitignore
