# See also: Dotfiles/config/.gitignore,
#   Dotfiles/config/configstore/.gitignore

Bootstrap/Brewfile.lock.json
Bootstrap/Brewfile.frontload.lock.json

Dotfiles/ssh/known_hosts*
Dotfiles/ssh/.identity*
Dotfiles/ssh/id_*
Dotfiles/ssh/*_rsa*
Dotfiles/ssh/sockets/*

Dotfiles/zsh/modules

Dotfiles/ocp/ocp-build.prefs

Dotfiles/opam/config
Dotfiles/opam/config.lock
Dotfiles/opam/lock
Dotfiles/opam/*/

Dotfiles/vim/undo
Dotfiles/vim/.netrwhist
Dotfiles/vim/spell/
Dotfiles/vim/autoload/plug.vim
Dotfiles/vim/session/

Dotfiles/irssi/logs-*.tar.gz
Dotfiles/jupyter/nbconfig/

Dotfiles/gnupg/.#*.*.*
