[submodule "Dotfiles/vim/bundle/vim-fugitive"]
	path = Dotfiles/vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "Dotfiles/vim/bundle/vim-colors-solarized"]
	path = Dotfiles/vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "Dotfiles/vim/bundle/nerdtree"]
	path = Dotfiles/vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "Dotfiles/vim/bundle/nerdcommenter"]
	path = Dotfiles/vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "Dotfiles/vim/bundle/vim-surround"]
	path = Dotfiles/vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "Dotfiles/vim/bundle/command-t"]
	path = Dotfiles/vim/bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "Dotfiles/vim/bundle/vim-indent-guides"]
	path = Dotfiles/vim/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "Dotfiles/vim/bundle/vim-vividchalk"]
	path = Dotfiles/vim/bundle/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "Dotfiles/vim/bundle/gist-vim"]
	path = Dotfiles/vim/bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "Dotfiles/irssi/irssi-colors-solarized"]
	path = Dotfiles/irssi/irssi-colors-solarized
	url = git://github.com/lkraav/irssi-colors-solarized.git
[submodule "Dotfiles/vim/bundle/gundo"]
	path = Dotfiles/vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "Dotfiles/vim/bundle/autoclose.vim"]
	path = Dotfiles/vim/bundle/autoclose.vim
	url = git://github.com/korpz/Autoclose-vim.git
[submodule "Dotfiles/vim/bundle/vim-arpeggio"]
	path = Dotfiles/vim/bundle/vim-arpeggio
	url = git://github.com/kana/vim-arpeggio.git
[submodule "Dotfiles/vim/bundle/vim-coffee-script"]
	path = Dotfiles/vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "Dotfiles/vim/bundle/pegjs-vim"]
	path = Dotfiles/vim/bundle/pegjs-vim
	url = https://github.com/alunny/pegjs-vim
[submodule "Dotfiles/vim/bundle/ag.vim"]
	path = Dotfiles/vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim
[submodule "Dotfiles/vim/bundle/vim-unimpaired"]
	path = Dotfiles/vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "Dotfiles/vim/bundle/mustache"]
	path = Dotfiles/vim/bundle/mustache
	url = git://github.com/mustache/vim-mustache-handlebars.git
[submodule "Dotfiles/vim/bundle/vim-openscad"]
	path = Dotfiles/vim/bundle/vim-openscad
	url = https://github.com/sirtaj/vim-openscad.git
[submodule "Dotfiles/vim/bundle/vim-nerdtree-tabs"]
	path = Dotfiles/vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "Dotfiles/source-highlight/source-highlight-solarized"]
	path = Dotfiles/source-highlight/source-highlight-solarized
	url = https://github.com/jrunning/source-highlight-solarized.git
[submodule "Dotfiles/vim/bundle/ctrlp.vim"]
	path = Dotfiles/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "Dotfiles/vim/bundle/tern_for_vim"]
	path = Dotfiles/vim/bundle/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "Dotfiles/vim/bundle/CoffeeTags"]
	path = Dotfiles/vim/bundle/CoffeeTags
	url = https://github.com/lukaszkorecki/CoffeeTags
[submodule "Dotfiles/vim/bundle/tagbar"]
	path = Dotfiles/vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "Dotfiles/vim/bundle/bats.vim"]
	path = Dotfiles/vim/bundle/bats.vim
	url = https://github.com/vim-scripts/bats.vim
[submodule "Dotfiles/vim/bundle/vim-literate-coffeescript"]
	path = Dotfiles/vim/bundle/vim-literate-coffeescript
	url = https://github.com/drampelt/vim-literate-coffeescript.git
[submodule "Dotfiles/vim/bundle/conflict-marker.vim"]
	path = Dotfiles/vim/bundle/conflict-marker.vim
	url = https://github.com/rhysd/conflict-marker.vim.git
[submodule "Dotfiles/vim/bundle/sparkup"]
	path = Dotfiles/vim/bundle/sparkup
	url = https://github.com/rstacruz/sparkup.git
[submodule "Dotfiles/vim/bundle/vimtex"]
	path = Dotfiles/vim/bundle/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "Dotfiles/vim/bundle/mediawiki.vim"]
	path = Dotfiles/vim/bundle/mediawiki.vim
	url = git://github.com/chikamichi/mediawiki.vim.git
[submodule "Dotfiles/vim/bundle/focus.vim"]
	path = Dotfiles/vim/bundle/focus.vim
	url = https://github.com/merlinrebrovic/focus.vim
[submodule "Dotfiles/jupyter/IPython-notebook-extensions"]
	path = Dotfiles/jupyter/IPython-notebook-extensions
	url = https://github.com/ipython-contrib/IPython-notebook-extensions.git
[submodule "Vendor/sh-realpath"]
	path = Vendor/sh-realpath
	url = https://github.com/mkropat/sh-realpath.git
[submodule "Dotfiles/jupyter/nbextensions/vim_binding"]
	path = Dotfiles/jupyter/nbextensions/vim_binding
	url = https://github.com/lambdalisue/jupyter-vim-binding
[submodule "Dotfiles/vim/bundle/syntastic"]
	path = Dotfiles/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "Dotfiles/Dotfiles/vim/bundle/YouCompleteMe"]
	path = Dotfiles/Dotfiles/vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "Dotfiles/vim/bundle/YouCompleteMe"]
	path = Dotfiles/vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "Dotfiles/vim/bundle/color_coded"]
	path = Dotfiles/vim/bundle/color_coded
	url = https://github.com/jeaye/color_coded.git
[submodule "Dotfiles/vim/bundle/YCM-Generator"]
	path = Dotfiles/vim/bundle/YCM-Generator
	url = https://github.com/rdnetto/YCM-Generator.git
[submodule "Dotfiles/vim/bundle/vim-misc"]
	path = Dotfiles/vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "Dotfiles/vim/bundle/vim-easytags"]
	path = Dotfiles/vim/bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "Dotfiles/vim/bundle/ListToggle"]
	path = Dotfiles/vim/bundle/ListToggle
	url = https://github.com/Valloric/ListToggle.git
[submodule "Dotfiles/vim/bundle/vim-javascript"]
	path = Dotfiles/vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
