{{^Shade notes (1st synonym)}}

<p>in {{Language (synonyms)}}, some synonyms meaning:</p>

<p>“{{Front}}”</p>

<p>“<span id='person_front'></span>{...}”</p>

<p>({{Aspect (1st synonym)}}, {{Tense (1st synonym)}}-tense{{#Gender (1st synonym)}} {{Gender (1st synonym)}}{{/Gender (1st synonym)}}{{#Person (1st synonym)}} {{Person (1st synonym)}}-person{{/Person (1st synonym)}}{{#Plurality (1st synonym)}} {{Plurality (1st synonym)}}{{/Plurality (1st synonym)}}{{#Example (front)}}; as in: “{{Example (front)}}”{{/Example (front)}})</p>

<p>
  {{#Audio (front)}}{{Audio (front)}}{{/Audio (front)}}
  {{^Audio (front)}}
<div id='tts-russian'>
  🤖{{tts ru_RU:Front}}
</div>
{{/Audio (front)}}
</p>

<script>
  if ("{{Language (front)}}" !== "Russian") {
    document.getElementById('tts-russian').remove()
  }

  var person_ex = undefined

  if ('{{Person (1st synonym)}}' !== '')
    switch ('{{Person (1st synonym)}}-{{Plurality (1st synonym)}}') {
      case 'first-singular':
        person_ex = 'я'
        break
      case 'second-singular':
        person_ex = 'ты'
        break
      case 'third-singular':
        person_ex = 'он/она́/оно́'
        break
      case 'first-plural':
        person_ex = 'мы'
        break
      case 'second-plural':
        person_ex = 'вы'
        break
      case 'third-plural':
        person_ex = 'они́'
        break
    }

  else if ('{{Gender (1st synonym)}}')
    switch ('{{Gender (1st synonym)}}-{{Plurality (1st synonym)}}') {
      case 'masculine-singular':
        person_ex = 'я/ты/он'
        break
      case 'feminine-singular':
        person_ex = 'я/ты/она́'
        break
      case 'neuter-singular':
        person_ex = 'оно́'
        break
    }

  else if ('{{Plurality (1st synonym)}}' === 'plural')
    person_ex = 'мы/вы/они́'

  if (person_ex)
    document.getElementById('person_front').innerHTML = '(' + person_ex + ') '
</script>

{{/Shade notes (1st synonym)}}
