# See also: root-level .gitignore, Dotfiles/config/.gitignore

# Most of VScode's stuff is synced via the built-in Sync — we *only* want the `settings.json`.
User/History/
User/globalStorage/
User/keybindings.json
User/profiles/
User/sync/
User/workspaceStorage/

Backups/
Cache/
CachedConfigurations/
CachedData/
CachedExtensionVSIXs/
CachedExtensions/
CachedProfilesData/
Code Cache/
Cookies
Cookies-journal
Crashpad/
CrashpadMetrics-active.pma
CrashpadMetrics.pma
GPUCache/
IndexedDB/
Local Storage/
Network Persistent State
Preferences
QuotaManager
QuotaManager-journal
Service Worker/
Session Storage/
TransportSecurity
VideoDecodeStats/
code.lock
databases/
languagepacks.json
logs/
machineid
shared_proto_db/
storage.json
