# See also: root-level .gitignore, Dotfiles/config/.gitignore

# Most of VScode's stuff is synced via the built-in Sync — we *only* want the `settings.json`.
User/History/
User/globalStorage/
User/keybindings.json
User/profiles/
User/sync/
User/workspaceStorage/
User/chatLanguageModels.json

Backups/
blob_storage/
Cache/
CachedConfigurations/
CachedData/
CachedExtensionVSIXs/
CachedExtensions/
CachedProfilesData/
Code Cache/
Crashpad/
DawnCache/
DawnGraphiteCache/
DawnWebGPUCache/
GPUCache/
IndexedDB/
Local State
Local Storage/
Network/
Service Worker/
Session Storage/
Shared Dictionary/
VideoDecodeStats/
WebStorage/
agent-host/
agentSessionData/
databases/
logs/
shared_proto_db/

Conversions
Conversions-journal
Cookies
Cookies-journal
CrashpadMetrics-active.pma
CrashpadMetrics.pma
DIPS
DIPS-wal
Network Persistent State
Preferences
QuotaManager
QuotaManager-journal
SharedStorage
SharedStorage-wal
TransportSecurity
Trust Tokens
Trust Tokens-journal
languagepacks.json
machineid
storage.json
