# See also: Dotfiles/config/configstore/.gitignore

.mono/certs

asciinema/config
asciinema/install-id
inkscape/
keybase/
com.add0n.node/
Fritzing/
karabiner/assets
karabiner/automatic_backups
yarn/link/
hub

sow/

coc/commands
coc/mru
coc/snippets-mru
coc/extensions/*
coc/memos.json
coc/history.json


# Why do so many games store their info in .config!?
AtomZombieData/
Colossal Order/Cities_Skylines/
Full Control/SpaceHulkAscension/
Master of Orion/
PixelPiracy/
UDP Software/Dwarf Therapist.ini
RiseOfIndustry/
