# See also: root-level .gitignore,
#   Dotfiles/config/configstore/.gitignore,
#   Dotfiles/config/Code/.gitignore

.mono/certs
.mono/keypairs

.semgrep/
Fritzing/
asciinema/config
asciinema/install-id
com.add0n.node/
grammarly-languageserver/client_*/
hub
inkscape/
karabiner/assets
karabiner/automatic_backups
keybase/
raycast/config.json
raycast/extensions
wireshark/
yarn/link/


# what a stupid name -_-
software/

sow/

op/config
op/plugins/used_items/
op/plugins.sh

coc/commands
coc/extensions/*
coc/history.json
coc/list-*-history.json
coc/lists
coc/memos.json
coc/mru
coc/snippets-mru
coc/suggest.txt

# Why do so many games store their info in .config!?
AtomZombieData/
Colossal Order/Cities_Skylines/
Full Control/SpaceHulkAscension/
Master of Orion/
PixelPiracy/
RiseOfIndustry/
UDP Software/Dwarf Therapist.ini
