<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <!-- Needs some prep, see: https://www.notion.so/troe/Beeper-Matrix-iMessage-bridges-18ef99b3151d8033acdcdbb72d2df168?pvs=4 -->
   <dict>
      <key>KeepAlive</key>
      <true/>
      <key>Label</key>
      <string>io.ell.startup.bbctl.bluebubbles-imessage</string>
      <key>ProgramArguments</key>
      <array>
         <string>/Users/ec/Library/System/launchd/User LaunchAgents/io.ell.startup.bbctl.bluebubbles-imessage/io.ell.startup.bbctl.bluebubbles-imessage.sh</string>
      </array>
      <key>RunAtLoad</key>
      <true/>
      <key>StandardErrorPath</key>
      <string>/Users/ec/.local/state/bbctl/sh-imessage.stderr.log</string>
      <key>StandardOutPath</key>
      <string>/Users/ec/.local/state/bbctl/sh-imessage.log</string>
      <key>WorkingDirectory</key>
      <string>/Users/ec/Library/Application Support/bbctl/prod/sh-imessage</string>
      <key>EnvironmentVariables</key>
      <dict>
         <key>PATH</key>
         <string>/Users/ec/.local/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin</string>
      </dict>
   </dict>
</plist>
